<form id="key_form" class="pl-4 pt-2 pb-7">
  <legend>Find value for Key</legend>
  <label>Key:</label><br>
  <input id="key_input" type="text" placeholder="Enter a key...">
  <br><br>
  <button id="key_form_button">Find value for key</button>
  <br><br>
  <div id="key_msg"></div>
</form>
