<form id="key_form">
  <fieldset>
    <legend>Find value for Key</legend>
    <label>Key:</label><br>
    <input id="key_input" type="text" placeholder="Enter a key...">
    <br><br>
    <button id="key_form_button">Find value for key</button>
    <br><br>
    <div id="key_msg">If you would like to find the value for key,
      enter the key above.</div>
  </fieldset>
</form>
