<% if(errors){ %>
  <ul>
    <% errors.forEach(function(error){ %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
<form action="/update" method="POST">
  <fieldset>
    <legend>Update Info</legend>
    <label>First name:</label><br>
    <input type="text" name="first_name" placeholder="Enter first name here...">
    <br><br>
    <label>Last name:</label><br>
    <input type="text" name="last_name" placeholder="Enter last name here...">
    <br><br>
    <label>Email:</label><br>
    <input type="text" name="email" placeholder="Enter email here...">
    <br><br>
    <label>Favorite Color:</label><br>
    <input type="text" name="favorite_color" placeholder="Enter favorite color here...">
    <br><br>
    <input type="submit" value="Update">
  </fieldset>
</form>
