<!DOCTYPE html>
<html>
  <head>
    <title>Ark Paradigm Challenge feed</title>
  </head>
  <body>
    <% if (typeof errors !== 'undefined' && errors) {%>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    <% include partials/update %>
    <% include partials/find_key_value %>
    <ul id="messages"></ul>
  </body>
</html>
