<!DOCTYPE html>
<html>
  <head>
    <title>Ark Paradigm Challenge feed</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div>
      <% include partials/live_feed %>
    </div>
    <div>
      <% if (typeof errors !== 'undefined' && errors) {%>
        <ul>
          <% errors.forEach(function(error){ %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
      <% include partials/update %>
      <% include partials/find_key_value %>


    <script>

      $(() => {
        $('#update_form_button').click(() => {
          $.ajax({url: "/update", method: "POST",
            data: $('#json_textarea').val(),
            contentType: 'application/json',
            success: (jsonMsg) => {
              $('#json_msg').text("Your JSON file has succesfully been updated!")
            },
            error: () => {
              $('#json_msg').text("You have entered invalid JSON!")
            }
          })
          return false
        })


        let socket = io()
        socket.on('update message', (msg) => {
          $('#messages').append($('<li>').text(msg));
        });
      });

    </script>
    </div>
  </body>
</html>
